<div class="top_box">
  <div class="header" style="">
    <ul class="side_menu">
      <li></li>
      <li></li>
      <li style="margin:0;"></li>
    </ul>
    <div class="logo"><a routerLink="/page"><img src="../../assets/img/logo.png"></a></div>
    <div class="nav_box">
      <div class="nav">
        <div class="main_nav" [routerLink]="['/page']">
          <a class="active">首页</a>
        </div>
        <div class="main_nav">
          <a class="not_active" routerLink="/page/zs-industry">众生产业</a>
        </div>
        <div class="main_nav">
          <a class="not_active" href="Scope.html">业务范围</a>

        </div>
        <div class="main_nav">
          <a class="not_active" href="news.html">新闻中心</a>

        </div>

        <div class="main_nav">
          <a class="not_active" href="About us.html">关于</a>
          <ul class="sub_nav">
            <li><a href="About us.html">关于我们</a></li>
            <li><a href="#">企业文化</a></li>
            <li><a href="#">董事长简介</a></li>
          </ul>
        </div>
        <div class="main_nav"><a class="not_active" href="Contact us.html">联系我们</a></div>
      </div>

    </div>
    <div class="clearfix"></div>
  </div>
</div>
