<app-banner [bannerUrls]="bannerUrls"></app-banner>

<div class="industry" style="">
  <div class="industry_text">
    <div class="all" style="">全部</div>
    <div class="weizhi" style="">
      您的位置&nbsp;:&nbsp;<a routerLink="/page/zs-industry" style="color: #666;">首页</a>&nbsp;>&nbsp;众生产业
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="industry_Modular">
    <a href="Submenu/360° Business Innovation.html">
      <div class="industry_small" style="">
        <div class="hid_img" style=""><img class="img" src="../../../assets/img/1499083067928.jpg"></div>
        <div class="more"><img src="../../../assets/img/+.png"></div>
        <div class="In_name_bg" style=""><span class="In_name" style="">360这个试试啊</span><br><span
          class="In_name_content" style="">niasdnlansdlajdasdasd</span></div>
        <span class="line"></span>
      </div>
    </a>
    <a href="Submenu/360° Business Innovation.html">
      <div class="industry_small" style="">
        <div class="hid_img" style=""><img class="img" src="../../../assets/img/1499083067928.jpg"></div>
        <div class="more"><img src="../../../assets/img/+.png"></div>
        <div class="In_name_bg" style=""><span class="In_name" style="">360这个试试啊</span><br><span
          class="In_name_content" style="">niasdnlansdlajdasdasd</span></div>
        <span class="line"></span>
      </div>
    </a>
    <a href="Submenu/360° Business Innovation.html">
      <div class="industry_small" style="">
        <div class="hid_img" style=""><img class="img" src="../../../assets/img/1499083067928.jpg"></div>
        <div class="more"><img src="../../../assets/img/+.png"></div>
        <div class="In_name_bg" style=""><span class="In_name" style="">360这个试试啊</span><br><span
          class="In_name_content" style="">niasdnlansdlajdasdasd</span></div>
        <span class="line"></span>
      </div>
    </a>
    <a href="Submenu/360° Business Innovation.html">
      <div class="industry_small" style="">
        <div class="hid_img" style=""><img class="img" src="../../../assets/img/1499083067928.jpg"></div>
        <div class="more"><img src="../../../assets/img/+.png"></div>
        <div class="In_name_bg" style=""><span class="In_name" style="">360这个试试啊</span><br><span
          class="In_name_content" style="">niasdnlansdlajdasdasd</span></div>
        <span class="line"></span>
      </div>
    </a>
    <a href="Submenu/360° Business Innovation.html">
      <div class="industry_small" style="">
        <div class="hid_img" style=""><img class="img" src="../../../assets/img/1499083067928.jpg"></div>
        <div class="more"><img src="../../../assets/img/+.png"></div>
        <div class="In_name_bg" style=""><span class="In_name" style="">360这个试试啊</span><br><span
          class="In_name_content" style="">niasdnlansdlajdasdasd</span></div>
        <span class="line"></span>
      </div>
    </a>
    <a href="Submenu/360° Business Innovation.html">
      <div class="industry_small" style="">
        <div class="hid_img" style=""><img class="img" src="../../../assets/img/1499083067928.jpg"></div>
        <div class="more"><img src="../../../assets/img/+.png"></div>
        <div class="In_name_bg" style=""><span class="In_name" style="">360这个试试啊</span><br><span
          class="In_name_content" style="">niasdnlansdlajdasdasd</span></div>
        <span class="line"></span>
      </div>
    </a>
    <a href="Submenu/360° Business Innovation.html">
      <div class="industry_small" style="">
        <div class="hid_img" style=""><img class="img" src="../../../assets/img/1499083067928.jpg"></div>
        <div class="more"><img src="../../../assets/img/+.png"></div>
        <div class="In_name_bg" style=""><span class="In_name" style="">360这个试试啊</span><br><span
          class="In_name_content" style="">niasdnlansdlajdasdasd</span></div>
        <span class="line"></span>
      </div>
    </a>
    <a href="Submenu/360° Business Innovation.html">
      <div class="industry_small" style="">
        <div class="hid_img" style=""><img class="img" src="../../../assets/img/1499083067928.jpg"></div>
        <div class="more"><img src="../../../assets/img/+.png"></div>
        <div class="In_name_bg" style=""><span class="In_name" style="">360这个试试啊</span><br><span
          class="In_name_content" style="">niasdnlansdlajdasdasd</span></div>
        <span class="line"></span>
      </div>
    </a>
    <a href="Submenu/360° Business Innovation.html">
      <div class="industry_small" style="">
        <div class="hid_img" style=""><img class="img" src="../../../assets/img/1499083067928.jpg"></div>
        <div class="more"><img src="../../../assets/img/+.png"></div>
        <div class="In_name_bg" style=""><span class="In_name" style="">360这个试试啊</span><br><span
          class="In_name_content" style="">niasdnlansdlajdasdasd</span></div>
        <span class="line"></span>
      </div>
    </a>
    <a href="Submenu/360° Business Innovation.html">
      <div class="industry_small" style="">
        <div class="hid_img" style=""><img class="img" src="../../../assets/img/1499083067928.jpg"></div>
        <div class="more"><img src="../../../assets/img/+.png"></div>
        <div class="In_name_bg" style=""><span class="In_name" style="">360这个试试啊</span><br><span
          class="In_name_content" style="">niasdnlansdlajdasdasd</span></div>
        <span class="line"></span>
      </div>
    </a>
    <a href="Submenu/360° Business Innovation.html">
      <div class="industry_small" style="">
        <div class="hid_img" style=""><img class="img" src="../../../assets/img/1499083067928.jpg"></div>
        <div class="more"><img src="../../../assets/img/+.png"></div>
        <div class="In_name_bg" style=""><span class="In_name" style="">360这个试试啊</span><br><span
          class="In_name_content" style="">niasdnlansdlajdasdasd</span></div>
        <span class="line"></span>
      </div>
    </a>

    <div class="clearfix"></div>
  </div>

</div>
